.navbar {
    background-color: #f9f6f2;
    height: 80px;
    padding: 0.5rem;
    margin: 10px;
    border-radius: 20px;
}
.navbar .navbar-brand {
    font-weight: 600;
    font-size: 24px;
    transition: 0.3s color;
}
.navbar .login-button {
    background-color: #ed8e1a ;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s background-color;
    margin-left: 20px;
}
.navbar .login-button:hover{
    background-color: #f4af5a;
}
.navbar .navbar-toggler {
    border: none;
    font-size: 1.25rem;
}
.navbar .navbar-toggler:focus, .navbar .btn-close:focus {
    box-shadow: none;
    outline: none;
}
.navbar .nav-link {
    color: #7b7373;
    font-weight: 600;
    position: relative;
}
.navbar .nav-link:hover, .navbar .nav-link.active {
    color: #000;
}
.navbar .search-box {
    flex: 1;
    position: relative;
}
.navbar .search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: nono;
    background-color: #f2f2f2;
    border-radius: 30px;
    color: gray;
    text-indent: 12px;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
}
.navbar .search-box button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background-color: #f4af5a;
}
.navbar .dropdown-menu {
    border-radius: 0;
    border: none;
    padding: 0.5em;
    box-shadow: 0 3px 6px rgba(0, 0, 0 , 0.23);
}
.navbar .dropdown-menu ul{
    list-style: none;
    padding: 0;
}

.navbar .dropdown-header {
    color: #ed8e1a;
    font-weight: bold;
    font-size: 1em;
}

.navbar .dropdown-item a {
    color: gray;
    font-size: 0.9em;
    padding: 0.5em 1em;
    text-decoration: none;
}

.navbar .checkout {
    color: #b5aec4;
    position: relative;
}

.navbar .checkout a {
    background: #eceff6;
    border-radius: 50%
}
.navbar .checkout-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9px;
    left: 22px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fe4c50;
    font-size: 12px;
    color: #ffffff;
}

.navbar-user {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 如果需要垂直居中的话 */
}
.navbar-user li {
    display: inline-block;
    text-align: center;
}
.navbar-user li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    color: #1e1e27;
    transition: color 0.3s ease;
}
.navbar-user li a:hover {
    color: #7c7c7c;
}

.navbar-user .checkout {
    background: #f9f6f2;
}

.navbar-user .checkout a {
    background: #eceff6;
    border-radius: 50%;
}

.navbar-user .checkout-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9px;
    left: 22px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f4af5a;
    font-size: 12px;
    color: #ffffff;
}
.navbar-user .header-student-image {
        width: 50px;
        border-radius: 50%;
        aspect-ratio: 1;
        object-fit: cover; /* 保持原始比例，填充整个容器 */
}
.navbar-user .image-li {
    margin: 0 20px 0 15px;
}


@media (min-width: 991px) {
    .dropdown:hover .dropdown-menu {
        display: flex;
    }
    .dropdown-menu.show {
        display: flex;
    }
    .navbar .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #ed8e1a;
        visibility: hidden;
        transition: 0.3 ease-in-out;
    }
    .navbar .nav-link:hover::before, .navbar .nav-link.active::before {
        width: 100px;
        visibility: visible;
    }

}
@media (max-width: 991px) {
    .dropdown-menu.show {
        max-height: 60vh;
        overflow-y: scroll;
    }
    .navbar #personal-information-out {
        display: none;
    }
}

/* 当屏幕宽度小于 576px 时，不显示 logo */
@media (max-width: 576px) {
    .navbar .navbar-brand {
        display: none;
    }
}
