target/
.mvn/
mvnw
mvnw.cmd

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
.history/

### VS Code ###
.vscode/
.history/

### Navicate ###
sql/id_cache.db
sql/id_cache.db-shm
sql/id_cache.db-wal
