<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>交易记录</title>
    <script src="../js/admin/vue.js"></script>
    <script src="../js/admin/axios.min.js"></script>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="admin.css">
    <script src="../js/admin/element/index.js"></script>
</head>
<body>
<div id="app">
    <div id="container">
        <el-container>
            <el-header>FleaMarket</el-header>
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item index="1" @click="to_home">主页</el-menu-item>
                <el-menu-item index="2" @click="to_user">用户管理</el-menu-item>
                <el-menu-item index="3" @click="to_review">商品审核</el-menu-item>
                <el-menu-item index="4">交易记录</el-menu-item>
                <el-menu-item index="5" @click="to_admins">管理员</el-menu-item>
            </el-menu>

            <h3 style="margin: 20px 0; color: #34495e; font-size: 24px; background-color: #ecf0f1; padding: 10px; border-radius: 5px;">交易记录</h3>

            <el-row>
                <el-col :span="8">
                    <el-date-picker
                            v-model="date_range"
                            type="daterange"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期">
                    </el-date-picker>
                </el-col>
                <el-col :span="4">
                    <el-select v-model="selected" placeholder="请选择">
                        <el-option label="购买人学号" value="buyNo"></el-option>
                        <el-option label="出售人学号" value="sNo"></el-option>
                    </el-select>
                </el-col>
                <el-col :span="12">
                    <el-input
                            :placeholder="placeholderText"
                            v-model="query_body.query"
                            clearable
                            style="width: 300px;">
                        <template slot="append">
                            <el-button type="primary" icon="el-icon-search" circle @click="search"></el-button>
                        </template>
                    </el-input>
                </el-col>
            </el-row>


            <el-table :data="goodsList" style="width: 100%">
                <el-table-column prop="id" label="商品id" width="200"></el-table-column>
                <el-table-column prop="goodsName" label="商品名" width="200"></el-table-column>
                <el-table-column prop="price" label="价格" width="200"></el-table-column>
                <el-table-column prop="studentNo" label="销售者" width="200"></el-table-column>
                <el-table-column prop="buyerNo" label="购买者" width="200"></el-table-column>
                <el-table-column prop="saleTime" label="交易时间" width="200"></el-table-column>
            </el-table>

            <div v-if="querying === 0" class="block">
                <el-pagination
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        background
                        layout="prev, pager, next"
                        :total="total"
                        :page-size="6">
                </el-pagination>
            </div>


            <el-footer>Copyright © 2023.FleaMarket All rights reserved.</el-footer>
        </el-container>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                query_body: {
                    type: 0,
                    query: '',
                    start: '',
                    end: ''
                },
                goodsList: [],
                queriedGoods: [],
                activeIndex: '4',
                total: 0, //总记录数
                currentPage: 1,
                dialogVisible: false,
                selected: 'buyNo',
                placeholderMap: {
                    buyNo: '按购买人学号与日期搜索',
                    sNo: '按出售人学号与日期搜索'
                },
                querying: 0,
                date_range: ['', '']
            };
        },
        methods: {
            show() {
              console.log(this.date_range);
            },
            to_review: function () {
                window.location.href = "review.html";
            },
            to_home: function () {
                window.location.href = "home.html";
            },
            to_user: function () {
                window.location.href = "users.html";
            },
            to_admins: function () {
                window.location.href = "admins.html";
            },
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            getTotal() {
                axios.get("/goods/sold/number").then((res=>{
                    this.total = res.data;
                })).catch(err=>{
                    console.log(err);
                });
            },
            handleCurrentChange: function (page) {
                this.currentPage = page;
                axios.get("/goods/sold/" + this.currentPage).then((res => {
                    this.goodsList = res.data;
                    // console.log(res.data)
                })).catch(err => {
                    console.log(err);
                })
            },
            search() {

                this.query_body.type = (this.selected === 'sNo'? 0 : 1);
                this.query_body.start = this.date_range[0];
                this.query_body.end = this.date_range[1];
                axios.post("/goods/record/query", this.query_body).then((res=>{
                    this.goodsList = res.data;
                    this.querying = 1;
                })).catch(err=>{
                    console.log(err);
                });
            }
        },
        created() {
            this.getTotal();
            this.handleCurrentChange(1);
        },
        computed: {
            placeholderText() {
                return this.placeholderMap[this.selected];
            },
        },

    });
</script>

</body>
</html>

<style>
    .el-pagination {
        text-align: center;
    }
</style>
