<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <script src="../js/admin/vue.js"></script>
    <script src="../js/admin/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/admin/element/index.js"></script>
    <link rel="stylesheet" href="admin.css">

</head>
<body>
<div id="app">
    <div id="container">
        <el-container>
            <el-header>GoodsWill</el-header>
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item index="1" @click="to_home">主页</el-menu-item>
                <el-menu-item index="2">用户管理</el-menu-item>
                <el-menu-item index="3" @click="to_review">审核商品</el-menu-item>
                <el-menu-item index="4" disabled>查询商品</el-menu-item>
                <!--            <el-menu-item index="4"><a href="https://www.ele.me" target="_blank">订单管理</a></el-menu-item>-->
            </el-menu>

            <h3 style="margin: 20px 0; color: #34495e; font-size: 24px; background-color: #ecf0f1; padding: 10px; border-radius: 5px;">用户列表</h3>
            <div style="display: flex; justify-content: center;">
                <el-select v-model="selected" placeholder="请选择">
                    <el-option label="用户名" value="userName"></el-option>
                    <el-option label="学号" value="studentNo"></el-option>
                </el-select>
                <el-input
                        :placeholder="placeholderText"
                        v-model="query"
                        clearable
                        style="width: 300px;">
                    <template slot="append">
                        <el-button icon="el-icon-search" circle @click="search"></el-button>
                    </template>
                </el-input>
            </div>
            <el-table :data="users" style="width: 100%">
                <el-table-column prop="id" label="id" width="180"></el-table-column>
                <el-table-column prop="studentNo" label="学号" width="180"></el-table-column>
                <el-table-column prop="userName" label="用户名" width="180"></el-table-column>
                <el-table-column prop="phone" label="手机号"></el-table-column>
                <el-table-column
                        fixed="right"
                        label="操作"
                        width="120">
                    <template slot-scope="scope">

                        <el-button
                                type="primary"
                                size="mini"
                                @click="showInfo(scope.row.id)">修改
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
<!--            <el-card class="box-card" v-for="user in users" :key="user.id" style="margin-bottom: 20px; padding: 10px;">-->
<!--                <div slot="header" class="clearfix" style="font-size: 14px;">-->
<!--                    <span style="line-height: 36px;">用户 {{user.userName}}</span>-->
<!--                </div>-->
<!--                <div class="text item">-->
<!--                    <el-button type="primary" @click="showInfo(user.id)" block size="small">查看详情</el-button>-->
<!--                </div>-->
<!--            </el-card>-->

            <!--   分页     -->
            <div v-if="querying == 0" class="block">
                <el-pagination
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        background
                        layout="prev, pager, next"
                        :total="total"
                        :page-size="6">
                </el-pagination>
            </div>

            <el-dialog
                    title="用户详细信息"
                    :visible.sync="dialogVisible"
                    width="30%">
                <el-form>
                    <el-form-item label="id">
                        {{tempUser.id}}
                    </el-form-item>
                    <el-form-item label="学号">
                        {{tempUser.studentNo}}
                    </el-form-item>
                    <el-form-item label="用户名">
                        <el-input v-model="tempUser.userName"></el-input>
                    </el-form-item>
                    <el-form-item label="密码">
                        <el-input type="password" v-model="tempUser.password"></el-input>
                    </el-form-item>
                    <el-form-item label="邮箱">
                        <el-input v-model="tempUser.email"></el-input>
                    </el-form-item>
                    <el-form-item label="手机号">
                        <el-input v-model="tempUser.phone"></el-input>
                    </el-form-item>
                    <el-form-item label="微信">
                        <el-input v-model="tempUser.wechat"></el-input>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="update">修 改</el-button>
            </span>
            </el-dialog>
            <el-footer>NPU @2023</el-footer>
        </el-container>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                user: {
                    id: 0,
                    userName: '',
                    password: '',
                    studentNo: '',
                    email: '',
                    phone: '',
                    wechat: ''
                },
                users: [],
                queryedUsers: [],
                tempUser: {
                    id: 0,
                    userName: '',
                    password: '',
                    studentNo: '',
                    email: '',
                    phone: '',
                    wechat: ''
                },
                activeIndex: '2',
                total: 0, //总用户数
                currentPage: 1,
                dialogVisible: false,
                selected: 'userName',
                query: '',
                placeholderMap: {
                    userName: '按用户名搜索',
                    studentNo: '按学号搜索'
                },
                querying: 0
            };
        },
        methods: {
            search() {
                if(this.query === '') {
                    this.querying = 0;
                    this.handleCurrentChange(1);
                    return;
                }

                this.querying = 1;
                let url = '/user/query';
                if(this.selected === 'userName') {
                    url += '/username?query=' + this.query;
                } else if(this.selected === 'studentNo') {
                    url += '/studentno?query=' + this.query;
                } else {
                    this.$message.error('请先选择查询方式');
                    return;
                }
                axios.get(url).then((res)=>{
                    this.users = res.data;
                }).catch(err=>{
                   console.log(err);
                });
            },
            update() {
                console.log(this.tempUser)
                axios.put("/user", this.tempUser).then((res => {
                    if (res.data === "ok") {
                        this.user = this.tempUser;
                        console.log(this.user);
                        this.users = this.users.map(user => {
                            if (user.id === this.user.id) {
                                return this.user;
                            } else {
                                return user;
                            }
                        });
                        console.log(this.users.find(user => user.id === this.user.id));
                        this.dialogVisible = false;
                        this.$message({
                            message: '修改成功',
                            type: 'success'
                        });
                    } else {
                        this.$message.error('修改失败');
                    }
                })).catch(err => {
                    console.log(err);
                })

            },
            showInfo(id) {
                this.user = this.users.find(user => user.id === id);
                this.tempUser = Object.assign({}, this.user);
                this.dialogVisible = true;
            },
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            handleCurrentChange: function (page) {
                this.currentPage = page;
                axios.get("/user/page/" + this.currentPage).then((res => {
                    this.users = res.data;
                    // console.log(res.data)
                })).catch(err => {
                    console.log(err);
                })
            },
            getPagenum: function () {
                axios.get("/user/count").then((res => {
                    this.total = res.data;
                })).catch(err => {
                    console.log(err);
                })
            },
            to_review: function () {
                window.location.href = "review.html";
            },
            to_home: function () {
                window.location.href = "home.html";
            },
        },
        created() {
            this.getPagenum();
            this.handleCurrentChange(1);
        },
        computed: {
            placeholderText() {
                return this.placeholderMap[this.selected];
            },
        },

    });
</script>

</body>
</html>

<style>
    .el-pagination {
        text-align: center;
    }
</style>
