@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.goodsdatil{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/

.goodsdetail .box-area{
    width: 930px;
}

/*------------ Right box ------------*/

.goodsdetail .right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

.goodsdetail ::placeholder{
    font-size: 16px;
}

.goodsdetail .rounded-4{
    border-radius: 20px;
}
.goodsdetail .rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 991){

    .goodsdetail .box-area{
        margin: 0 10px;

     }
     .goodsdetail .left-box{
        height: 100px;
        overflow: hidden;
     }
     .goodsdetail .right-box{
        padding: 20px;
     }

}