.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}
.navbar .navbar-brand {
    font-weight: 600;
    font-size: 24px;
    transition: 0.3s color;
}
.navbar .login-button {
    background-color: #ed8e1a ;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s background-color;
    margin-left: 20px;
}
.navbar .login-button:hover{
    background-color: #f4af5a;
}
.navbar .navbar-toggler {
    border: none;
    font-size: 1.25rem;
}
.navbar .navbar-toggler:focus, .navbar .btn-close:focus {
    box-shadow: none;
    outline: none;
}
.navbar .nav-link {
    color: #7b7373;
    font-weight: 600;
    position: relative;
}
.navbar .nav-link:hover, .navbar .nav-link.active {
    color: #000;
}
.navbar .search-box {
    flex: 1;
    position: relative;;
}
.navbar .search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: nono;
    background-color: #f2f2f2;
    border-radius: 30px;
    color: gray;
    text-indent: 12px;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
}
.navbar .search-box button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background-color: #f4af5a;
}
.navbar .dropdown-menu {
    border-radius: 0;
    border: none;
    padding: 0.5em;
    box-shadow: 0 3px 6px rgba(0, 0, 0 , 0.23);
}
.navbar .dropdown-menu ul{
    list-style: none;
    padding: 0;
}

.navbar .dropdown-header {
    color: #ed8e1a;
    font-weight: bold;
    font-size: 1em;
}
.navbar .dropdown-item a {
    color: gray;
    font-size: 0.9em;
    padding: 0.5em 1em;
    text-decoration: none;
}

@media (min-width: 991px) {
    .dropdown:hover .dropdown-menu {
        display: flex;
    }
    .dropdown-menu.show {
        display: flex;
    }
    .navbar .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #ed8e1a;
        visibility: hidden;
        transition: 0.3 ease-in-out;
    }
    .navbar .nav-link:hover::before, .navbar .nav-link.active::before {
        width: 100px;
        visibility: visible;
    }
}
@media (max-width: 991px) {
    .dropdown-menu.show {
        max-height: 60vh;
        overflow-y: scroll;
    }
}
