.login .container {
    width: 75%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.login-img {
    padding-top: 15px;
}

.login h4 {
    margin: 2em 0 0.5em;
    font-size: 1.5em;
    color: #212121;
    text-align: center;
    text-transform: uppercase;
}

.login p {
    font-size: 14px;
    color: #999;
    line-height: 1.8em;
    margin: 0;
    text-align: center;
}

.login p a {
    color: #d8703f;
    text-decoration: none;
    padding: 0 0 0 0.3em;
}

.login p a:hover {
    color: #212121;
}

.login p a span {
    top: 0.1em;
    font-size: .7em;
    left: 0.3em;
}