@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.login {
    background: #ececec;
}

.main {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
}

.side-image {
    padding: 5px;
    background-image: url("/static/images/login/1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    position: relative;
}

.login .row {
    width: 900px;
    height: 450px;
    border-radius: 10px;
    background: #fff;
    padding: 0px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text p {
    color: #fff;
    font-size: 20px;
}

i {
    font-weight: 400;
    font-size: 15px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-box {
    width: 330px;
    box-sizing: border-box;
}

img {
    width: 35px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.input-box header {
    font-weight: 520;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
}

.input-box header:before, .input-box header:after {
    position: absolute;
    top: 100px;
    width: 70px;
    height: 1px;
    background: #D5D5D5;
    content: '';
}

.input-box header:before {
    left: 100px;
}

.input-box header:after {
    right: 100px;
}

.input-box p {
    font-size: 14px;
    color: #999;
    line-height: 10px;
    text-align: center;
    margin-bottom: 45px;
}

.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.input {
    height: 35px;
    width: 100%;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 25px;
    color: #40414a;
}

.input-box .input-field label {
    font-size: 15px;
    color: #999;
    position: absolute;
    top: 5px;
    left: 16px;
    pointer-events: none;
    transition: .5s;
}

.input-field input:focus ~ label {
    top: -19px;
    color: #000000;
    font-size: 13px;
}

.input-field input:valid ~ label {
    top: -18px;
    font-size: 13px;
    color: #5d5076;
}

.input-box .input-field input {
    padding: 2px 0 2px 5px;
}

.input-box .input-field input {
    padding: 2px 0 2px 5px;
}

.input-field .input:focus, .input-field .input:valid {
    border: 1px solid #743ae1;
}

.button {
    width: 40%;
    border: none;
    outline: none;
    height: 35px;
    background: #ececec;
    border-radius: 8px;
    transition: .4s;
    margin: 5px auto 0;
}

.button:hover {
    background: #0d6efd;
    /*background: rgba(37, 95, 156, 0.937);*/
    color: #fff;
}

.toregister {
    text-align: center;
    font-size: small;
    margin-top: 10px;
}

span a {
    text-decoration: none;
    font-weight: 700;
    transition: .5s;
}

span a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 992px) {
    .input-box header:before, .input-box header:after {
        position: absolute;
        top: 100px;
        width: 50px;
        height: 1px;
        background: #D5D5D5;
        content: '';
    }

    .input-box header:before {
        left: 70px;
    }

    .input-box header:after {
        right: 70px;
    }
}

@media only screen and (max-width: 768px) {
    .main {
        padding: 0;
    }

    .login .row, .side-image {
        border: none;
        border-radius: 0;
        box-shadow: none;
    }


    img {
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }

    .input-box header:before, .input-box header:after {
        position: absolute;
        top: 55px;
        width: 70px;
        height: 1px;
        background: #D5D5D5;
        content: '';
    }

    .input-box header:before {
        left: 100px;
    }

    .input-box header:after {
        right: 100px;
    }

    .text {
        position: absolute;
        top: 70%;
        text-align: center;
    }

    .text p, i {
        font-size: 16px;
    }

    .login .row {
        max-width: 420px;
        width: 100%;
    }
}