 body{
    font-size: 100%;
    background:	#FFFFFF;
    font-family: 'Open Sans', sans-serif;
}
.manager{
    padding-top: 20px;
    background: #F7F7F9;
}
.information
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    /*width: 20%;*/
    padding: 20px;
    /*margin-right: 10px;*/
    height: 70%;
}
.self_information
{

    /*justify-self: center;*/
    position: relative;
    /*display: inline-block;*/
    /*text-align: center;*/
}
.avatar{
    display: grid;
    margin: 0 auto;
    justify-self: center;
    width: 150px;
    height:150px;
    border:0;
}
 .overlay {

     position: absolute;
     margin: 0 auto;
     top: 0;
     left:  calc(50% - 75px);
     width: 150px;
     height: 150px;
     background-color: rgba(0, 0, 0, 0.5); /* 设置遮盖框的颜色和透明度 */
     opacity: 0; /* 初始时透明 */
     transition: opacity 0.3s ease; /* 添加过渡效果 */
 }

 .self_information:hover .overlay {
     opacity: 1; /* 悬浮时不透明 */
 }

.avatar-button{
    padding: 10px 10px;
    width:60%;
    height: 50px;
    margin: calc(50% - 25px) auto;

    background-color: #c4e3f3;
    color: #000;
    border: none;
    cursor: pointer;
}
.status{
    background: #c4e3f3;
    width:100%;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-right: 20px;
}
.status a{
    color: #080808;
}
.single
{
    background: #F7F7F9;
}

.student-goods
{
    width: 100%;
    /*height: 220px;*/
    padding: 1em;
    background: #fff;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 20px;

}
.student-goods-image{
    width: 100%;
}
.money{
    color:#c9302c;
}
.date{
    color: #5e5e5e;
}
.btn{
    float: right;
    margin-right: 10px;
}
.pop-ups{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}
.white_content {

    width: 40%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 30%;
    border: 1px solid #bbbbbb;
    border-radius: 20px;
    background-color: white;
    z-index: 1002;
    /*层级要比.black_overlay高，这样才能显示在它前面*/
    overflow: auto;
}
#light {
    position: absolute;
    /*left: 50%;*/
    /* top: 50%;*/
    /*width: 300px;*/
    /*height: 250px;*/
    /*margin-left: -150px;*/
    /*!* margin-top: -125px *!;*/
}
/*.student-goods h3{*/
/*    color: #080808;*/
/*}*/
