*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, PingFangSC-Regular, "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    color: #494d55;
}

img {
    vertical-align: bottom;
}

ul {
    list-style-type: none;
}

a {
    color: #494d55;
    text-decoration: none;
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

/* 导航栏css */
/* 透明顶部导航栏样式 */
.transparent-navbar {
    background-color: transparent !important;
}

/* 黑色导航栏样式 */
.dark-navbar {
    background-color: #000000 !important;
    /* 黑色背景 */
}

.dark-navbar .navbar-nav .nav-link {
    color: #FFFFFF;
    /* 白色字体 */
}

.navbar {
    justify-content: space-between;
    background-color: rgb(92, 67, 122) !important;
    /* 颜色变化过渡 */
    transition: 0.5s;
}

.nav-img {
    margin-top: -5px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

/* home栏 展示？类似首页 */
.home {
    /*背景图片，先随便一张*/
    background-image: url('/static/images/1.jpg');
    /* 图片铺满整个容器 */
    background-size: cover;
    /* 图片在两个方向上居中 */
    background-position: center center;
    color: white;
    text-align: center;
    /* 设置高度为浏览器视口高度 */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro {
    text-align: center;
}

.home .head {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* 个人信息介绍栏 */
.about-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.i-am,
.i-like {
    text-align: center;
    text-decoration: none
}

.about-list {
    list-style: none;
    padding: 0;
}

.row {
    text-align: center;
}

/* 项目与生活栏 */
/* 本部分的item标签为自定义，在对应父类下设定 */
.section {
    padding-bottom: 40px;
}

.section .items {
    margin-top: 20px;
}

.section .title {
    text-align: center;
    line-height: 2em;
}

.section .title small {
    display: block;
    font-size: 16px;
    line-height: 2em;
    color: #919191;
    font-weight: 500;
}

.life .item {
    display: block;
    border-radius: 4px;
    border: 1px solid #e4ecf3;
    margin-bottom: 10px;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.3s ease;
}

.life .item:hover {
    transform: translate(0, -6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.5);
}

.life .item:hover img {
    transform: scale(1.2);
}

.life .img-wrap {
    overflow: hidden;
}

.life img {
    width: 100%;
    transition: all 0.3s ease;
}

.life p {
    text-align: center;
    margin: 10px;
    font-size: 14px;
    color: #313131;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

/* 邮箱发送评论 联系栏 */
.links-and-contact {
    display: grid;
    grid-template-columns: 80% 20%;
}

.button-container {
    display: flex;
    /* 子元素会按垂直方向排列 */
    flex-direction: column;
    /* 子元素出现在容器底部 */
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

.music-hint {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* 添加一些垂直间距，可根据需要进行调整 */
}

.music-hint span {
    flex: 1;
    /* 填充剩余空间，使其和音乐播放器对齐 */
}

/* 底部栏 */
.footer {
    padding: 30px 0;
    background-color: #26282c;
    color: rgba(255, 255, 255, 0.4);
}

.footer .slogan {
    font-size: 16px;
    margin: 20px 0 0;
}

.footer .copyright {
    margin: 20px 0 0;
}

.footer .title {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.footer a {
    display: block;
    line-height: 24px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}

.footer a:hover {
    text-decoration: underline;
    color: #3571f2e7;
}
.avatar{
    display: grid;
    margin: 0 auto;
    justify-self: center;
    width: 150px;
    height:150px;
    border:0;
}
.overlay {

    position: absolute;
    margin: 0 auto;
    top: 0;
    left:  calc(50% - 75px);
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5); /* 设置遮盖框的颜色和透明度 */
    opacity: 0; /* 初始时透明 */
    transition: opacity 0.3s ease; /* 添加过渡效果 */
}

 .overlay :hover{
    opacity: 1; /* 悬浮时不透明 */
}

.avatar-button{
    padding: 10px 10px;
    width:60%;
    height: 50px;
    margin: calc(50% - 25px) auto;

    background-color: #c4e3f3;
    color: #000;
    border: none;
    cursor: pointer;
}
@media (max-height: 600px){
    .home{
        height: 100%;
    }
}

@media (max-width: 480px) {
    .about-grid {
        grid-template-columns: 100%;
    }
}

@media (max-width: 650px) {
    .projects-grid {
        grid-template-columns: 100%;
    }
}

@media (max-width: 650px) {
    .links-and-contact {
        grid-template-columns: 100%;
    }
}