.products {
    padding: 2em 0;
}

.products .container {
    margin: 0 auto;
}

.products-right-grids-position:hover img {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.products-right-grids-position img {
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
}

.products-right-grid1-add-cart p i:before {
    background: #999 none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: -26%;
    position: absolute;
    right: -20%;
    top: 54%;
    transform: rotate(-8deg) translate(0, -50%);
    -moz-transform: rotate(-8deg) translate(0, -50%);
    -webkit-transform: rotate(-8deg) translate(0, -50%);
}

.products-right-grid1-add-cart p a:hover {
    color: #222;
    border: 1px solid;
}

.product-image:not(.zoom-available):hover {
    position: relative;
    display: block;
    border: none;
    text-align: center;
}

.product-image {
    width: 100%;
}

.products-right-grids {
    margin-bottom: 2em;
}

.products-right-grids-bottom {
    background: #F7F7F9;
    padding: 1em 0 1em 1em;
}

.products-right-grid1 {
    text-align: center;
}

.products-right-grid1-add-cart p i {
    color: #999;
    position: relative;
    font-style: normal;
    font-size: 14px;
}

.products-right-grid1-add-cart p {
    margin: 0 !important;
    text-transform: capitalize;
    color: #000;
    font-size: 1.2em !important;
}

.products-right-grid1-add-cart p a {
    font-size: 14px;
    color: #1E9FFF;
    margin: 1em 0 0;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0em 1em;
    border: 1px solid;
}

.products-right-grid1-add-cart p a {
    display: block;
}

.products-right-grid1-add-cart p span {
    margin-left: 1em;
}

.products-right-grid1:hover:before {
    height: 62% !important;
}

.products-right-grid1:before {
    height: 60% !important;
}

.products-right-grids-pos {
    top: 40% !important;
    left: 20% !important;
}

.products-right-grids-pos-right {
    bottom: 35% !important;
    left: 26% !important;
}

.products-right-grids-bottom-grid {
    padding-left: 0;
}

.products-right-grid1:nth-child(2) {
    margin: 1em 0 !important;
}

.products-right-grids-position {
    padding-top: 2em;
    position: relative;
    display: block;
    overflow: hidden;
}

.products-right-grids-position1 {
    position: absolute;
    top: 40%;
    left: 10%;
}

.products-right-grids-position1 h4, .categories h4 {
    text-transform: uppercase;
    font-size: 2.5em;
    /*color: #fff;*/
    letter-spacing: 3px;
    padding-top: 1em;
    /*padding-bottom: .53em;*/
    border-bottom: 1px solid #fff;
    width: 50%;
}

.products-right-grids-position1 p, .categories p {
    margin: 1em 0 0;
    /*color: #fff;*/
    /*font-size: 14px;*/
    width: 85%;
    line-height: 1.8em;
}

.categories {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.categories {
    margin: 3em 0;
}

.categories h3 {
    font-size: 1.5em;
    color: #212121;
    margin-top: 0.5em;
    padding: .5em;
    background: #f5f5f5;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}

.categories ul.cate {
    padding: 2em 2em .5em;
}

.categories ul li {
    display: block;
    color: #999;
    font-size: 14px;
    background: url(../images/img-sp.png) no-repeat -9px -150px;
    padding-left: 2em;
    margin-bottom: 1em;
}

.categories ul li a {
    color: #999;
    text-decoration: none;
}

.categories ul li a:hover {
    color: #1E9FFF;
}

.categories ul li span {
    float: right;
}

@media (max-width: 768px) {

}

@media (max-width: 640px) {

}

@media (max-width: 480px) {
    .categories h3 {
        font-size: 1.2em;
        letter-spacing: 2px;
    }

    .categories {
        margin: 2em 0;
    }

}


@media (max-width: 320px) {
    .categories ul li {
        font-size: 13px;
    }

    .categories ul.cate {
        padding: 1em 1em 2em;
    }

    .categories h3 {
        font-size: 1.1em;
        letter-spacing: 1px;
    }
}

@media (max-width: 1440px) {

}

@media (max-width: 1366px) {

    .products-right-grid1:hover:before {
        height: 62% !important;
    }

}

@media (max-width: 1280px) {

}

@media (max-width: 1080px) {

    .products {
        padding: 4em 0;
    }

    .products-right-grids-position1 h4 {
        width: 63%;
    }

    .products-right-grids-position1 p {
        width: 100%;
    }

    .products-right-grids-position1 {
        top: 35%;
    }

    .products-right-grids-pos {
        left: 12% !important;
    }

    .products-right-grids-pos-right {
        left: 21% !important;
    }

    .products-right-grid1:hover:before {
        height: 56% !important;
    }

}

@media (max-width: 1024px) {

}

@media (max-width: 991px) {

    .products {
        padding: 3em 0;
    }

    .products-right-grids-bottom-grid {
        width: 47%;
        margin: 0 auto;
    }

    .products-left {
        width: 70%;
        margin: 0 auto 2em;
    }

    .products-right-grids-position1 p {
        width: 90%;
    }

}

@media (max-width: 800px) {

}

@media (max-width: 768px) {

}

@media (max-width: 767px) {

}

@media (max-width: 736px) {

}

@media (max-width: 667px) {

}

@media (max-width: 640px) {

    .products-right-grids-bottom-grid {
        width: 50%;
    }

    .products-right-grids-position1 p {
        width: 100%;
    }

    .products-right-grids-position1 {
        left: 5%;
    }

}

@media (max-width: 600px) {

}

@media (max-width: 568px) {

}

@media (max-width: 480px) {

    .products {
        padding: 2em 0;
    }

    .products-right-grids-bottom-grid {
        width: 72%;
    }

    .products-left {
        width: 100%;
    }

    .products-right-grids-position1 h4 {
        width: 75%;
        font-size: 1.2em;
    }

    .products-right-grids-position1 {
        top: 22%;
    }

}

@media (max-width: 414px) {

    .products-right-grids-bottom-grid {
        width: 80%;
    }

    .products-right-grids-position1 h4 {
        width: 90%;
    }

    .products-right-grids-position1 p {
        font-size: 12px;
    }

    .products-right {
        padding: 0;
    }

}

@media (max-width: 384px) {

}

@media (max-width: 375px) {

    .products-right-grids-bottom-grid {
        width: 90%;
    }

    .products-left {
        padding: 0;
    }

}

@media (max-width: 320px) {

    .products-right-grids-bottom-grid {
        width: 100%;
    }

    .products-right-grids-position1 h4 {
        width: 93%;
        font-size: 1em;
    }

    .products-right-grids-position1 {
        top: 5%;
    }

    .products-right-grid1-add-cart p {
        font-size: 1em !important;
    }

}