* {
    font-family: 'Poppins', sans-serif;
}
.background-header-body {
    display: flex;
    flex-direction: column;
}

.register {
    flex: 1;
    background-color: #f9f6f2;
    padding: 10px 30px 30px 30px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
}

.side-image {
    padding: 5px;
    background-image: url("/static/images/login/1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    position: relative;
}

.register .row {
    width: 900px;
    height: 700px;
    border-radius: 10px;
    background: #fff;
    padding: 0px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text p {
    color: #fff;
    font-size: 20px;
}

i {
    font-weight: 400;
    font-size: 15px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-box {
    width: 330px;
    box-sizing: border-box;
}

img {
    width: 35px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.input-box header {
    position: relative;
    font-weight: 520;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
}

.input-box header:before, .input-box header:after {
    position: absolute;
    top: 20px;
    width: 70px;
    height: 1px;
    background: #D5D5D5;
    content: '';
}

.input-box header:before {
    left: 50px;
}

.input-box header:after {
    right: 50px;
}

.input-box p {
    font-size: 14px;
    color: #999;
    line-height: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}


.input-group-text {
    height: 40px;
    background: #667c9d;
    color: white;
}

.form-floating {
    position: relative;
    width: 87.5%;
}

.form-floating label {
    padding: 0.5rem 0.75rem;
}

.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label {
    font-size: 14px;
    opacity: .65;
}

.form-floating input {
    height: 40px !important;
    padding: 0 0 2px;
    border-left: none;
    border-radius: 0 0.25rem 0.25rem 0;
}

.contact-start {
    position: relative;
}

.contact-start h6 {
    text-align: center;
    font-weight: 600;
}

.contact-start h6:before, .contact-start h6:after {
    position: absolute;
    width: 115px;
    bottom: 0.5em;
    height: 2px;
    /*background: #667c9d;*/
    background: repeating-linear-gradient(to right, #667c9d, #667c9d 8px, transparent 5px, transparent 10px);
    content: '';
    margin: 0 2px;
}

.contact-start h6:before {
    left: -1px;
}

.contact-start h6:after {
    right: -1px;
}

.contact-end {
    height: 2px;
    /*background: #667c9d;*/
    background: repeating-linear-gradient(to right, #667c9d, #667c9d 8px, transparent 5px, transparent 10px);
    content: '';
    margin: 0 2px;
}

.required {
    position: absolute;
    left: 295px;
    bottom: 5px;
    color: red;
    display: none;
}

.contact-start span {
    position: absolute;
    left: 333px;
    top: 1px;
    color: red;
}

.form-floating input:valid ~ span {
    color: black;
}

.contact-method input:valid ~ .contact-start span {
    color: black;
}

.button {
    width: 100%;
    border: none;
    outline: none;
    height: 35px;
    background: #a8b3ba;
    color: #fff;
    border-radius: 8px;
    transition: .4s;
    margin: 5px auto 0;
}

.button:hover {
    background: #0d6efd;
    /*background: rgba(37, 95, 156, 0.937);*/
    color: #fff;
}

.tologin {
    text-align: center;
    font-size: small;
    margin-top: 10px;
}

span a {
    text-decoration: none;
    font-weight: 700;
    transition: .5s;
}

span a:hover {
    text-decoration: underline;
}

.options-p {
    margin-bottom: 10px !important;
}

.options-p a {
    color: #999;
    text-decoration: none;
}
.options-p a:hover {
    text-decoration: underline;
}

.triangle-down {
    display: none;
}
.expanded .triangle-up {
    display: inline-block;
}
.expanded .triangle-down {
    display: none;
}



@media only screen and (max-width: 992px) {

    .input-box header:before, .input-box header:after {
        position: absolute;
        height: 1px;
        background: #D5D5D5;
        content: '';
    }

    .input-box header:before {
        left: 50px;
    }

    .input-box header:after {
        right: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .main {
        padding: 0;
    }

    .register .row, .side-image {
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .side-image {
        padding: 30px;
    }

    img {
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }

    .input-box header:before, .input-box header:after {
        position: absolute;
        top: 20px;
        width: 70px;
        height: 1px;
        background: #D5D5D5;
        content: '';
    }

    .input-box header:before {
        left: 50px;
    }

    .input-box header:after {
        right: 50px;
    }

    .text {
        position: absolute;
        top: 70%;
        text-align: center;
    }

    .text p, i {
        font-size: 16px;
    }

    .register .row {
        max-width: 420px;
        width: 100%;
        height: auto;
    }
}