@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.goodsdatil{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

.goodsdetail .box-area{
    width: 930px;
}
/*------------ Login container ------------*/
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;

}

.carousel .c-img {
    border-radius: 20px;
    padding: 10px;
    height: auto;
    aspect-ratio: 1; /* 设置宽高比为5:6 */
    object-fit: cover; /* 保持原始比例，填充整个容器 */
    cursor: pointer;
}

/*------------ Right box ------------*/

.goodsdetail .right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

.goodsdetail ::placeholder{
    font-size: 16px;
}

.goodsdetail .rounded-4{
    border-radius: 20px;
}
.goodsdetail .rounded-5{
    border-radius: 30px;
}
.goodsdetail textarea{
    font-family: inherit;
    font-size: 12px; /* 设置字体大小 */
    /* 去除边框 */
    border: none;
    resize: none;
    /* 去除选中后的边框 */
    outline:none;
    height: 250px; /* 设置高度 */
}

/*------------ For small screens------------*/

@media only screen and (max-width: 991){

    .goodsdetail .box-area{
        margin: 0 10px;

     }
     .goodsdetail .left-box{
        height: 300px;
        overflow: hidden;
     }
     .goodsdetail .right-box{
        padding: 20px;
     }

}