<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="css/index.css">
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="js/admin/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="js/admin/element/index.js"></script>

</head>
<body>
<div id="app">
    <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="用户名">
            <el-input v-model="form.username"></el-input>
        </el-form-item>
        <el-form-item label="密码">
            <el-input type="password" v-model="form.password"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">登录</el-button>
        </el-form-item>
    </el-form>
</div>

<!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<!--<script>-->
<!--    new Vue({-->
<!--        el: '#app',-->
<!--        data: {-->
<!--            form: {-->
<!--                username: '',-->
<!--                password: ''-->
<!--            }-->
<!--        },-->
<!--        methods: {-->
<!--            onSubmit() {-->
<!--                console.log('submit!');-->
<!--            }-->
<!--        }-->
<!--    });-->
<!--</script>-->
</body>
</html>
